<!-- templates/article_list.html -->
{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "BRID | Articles" %}{% endblock title %}

{% block content %}
	{% for article in object_list %}
		<div class="card">
			<div class="card-header">
				<span class="font-weight-blod">{{ article.title }}</span> &middot;
				<span class="text-muted">{% trans "by" %} {{ article.author }} | {{ article.date }}</span>
			</div>
			<div class="card-body">
				<p>{{ article.body }}</p>
                {% if user.is_authenticated %}
				    <a href="{% url 'article_edit' article.pk %}">{% trans "Edit" %}</a> | <a href="{% url 'article_delete' article.pk  %}">{% trans "Delete" %}</a>
			    {% endif %}
            </div>
			<div class="card-footer">
				{% for comment in article.comments.all %}
					<p>
						<span class="font-weight-bold">{{ comment.author }} &middot;</span>
						{{ comment }}
					</p>
				{% endfor %}
			</div>
		</div>
		<br />
	{% endfor %}
{% endblock content %}
